body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2397px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:910px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:163px;
  height:910px;
  display:flex;
}
#u8781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:89px;
}
#u8783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:89px;
  display:flex;
}
#u8783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8784 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:-10px;
  width:1277px;
  height:99px;
  display:flex;
}
#u8784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u8785 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:17px;
  width:314px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u8785 .text {
  position:absolute;
  align-self:center;
  padding:16px 0px 16px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8785_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u8785.mouseOver {
}
#u8785_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:134px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u8788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:178px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u8789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:223px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u8790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u8791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:356px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u8792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u8793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u8794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8795 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:134px;
  width:98px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8795 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8795_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8796 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:189px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8796 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8796_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8797 label {
  left:0px;
  width:100%;
}
#u8797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8797 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:190px;
  width:100px;
  height:15px;
  display:flex;
}
#u8797 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8797_img.selected {
}
#u8797.selected {
}
#u8797_img.disabled {
}
#u8797.disabled {
}
#u8797_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8797_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8798 label {
  left:0px;
  width:100%;
}
#u8798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8798 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:190px;
  width:100px;
  height:15px;
  display:flex;
}
#u8798 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8798_img.selected {
}
#u8798.selected {
}
#u8798_img.disabled {
}
#u8798.disabled {
}
#u8798_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8798_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8799 label {
  left:0px;
  width:100%;
}
#u8799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8799 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:190px;
  width:100px;
  height:15px;
  display:flex;
}
#u8799 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8799_img.selected {
}
#u8799.selected {
}
#u8799_img.disabled {
}
#u8799.disabled {
}
#u8799_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8799_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8800 label {
  left:0px;
  width:100%;
}
#u8800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8800 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:190px;
  width:100px;
  height:15px;
  display:flex;
}
#u8800 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8800_img.selected {
}
#u8800.selected {
}
#u8800_img.disabled {
}
#u8800.disabled {
}
#u8800_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8800_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8801 label {
  left:0px;
  width:100%;
}
#u8801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8801 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:190px;
  width:100px;
  height:15px;
  display:flex;
}
#u8801 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8801_img.selected {
}
#u8801.selected {
}
#u8801_img.disabled {
}
#u8801.disabled {
}
#u8801_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8801_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8802 label {
  left:0px;
  width:100%;
}
#u8802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8802 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:190px;
  width:100px;
  height:15px;
  display:flex;
}
#u8802 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8802_img.selected {
}
#u8802.selected {
}
#u8802_img.disabled {
}
#u8802.disabled {
}
#u8802_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8802_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8803 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:242px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8803 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8803_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8804 label {
  left:0px;
  width:100%;
}
#u8804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8804 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:243px;
  width:100px;
  height:15px;
  display:flex;
}
#u8804 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8804_img.selected {
}
#u8804.selected {
}
#u8804_img.disabled {
}
#u8804.disabled {
}
#u8804_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8804_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8805 label {
  left:0px;
  width:100%;
}
#u8805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8805 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:243px;
  width:100px;
  height:15px;
  display:flex;
}
#u8805 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8805_img.selected {
}
#u8805.selected {
}
#u8805_img.disabled {
}
#u8805.disabled {
}
#u8805_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8805_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8806 label {
  left:0px;
  width:100%;
}
#u8806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8806 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:243px;
  width:100px;
  height:15px;
  display:flex;
}
#u8806 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8806_img.selected {
}
#u8806.selected {
}
#u8806_img.disabled {
}
#u8806.disabled {
}
#u8806_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8806_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8808 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:297px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8808 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8808_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8809 label {
  left:0px;
  width:100%;
}
#u8809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8809 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:298px;
  width:100px;
  height:15px;
  display:flex;
}
#u8809 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8809_img.selected {
}
#u8809.selected {
}
#u8809_img.disabled {
}
#u8809.disabled {
}
#u8809_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8809_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8810 label {
  left:0px;
  width:100%;
}
#u8810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8810 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:298px;
  width:100px;
  height:15px;
  display:flex;
}
#u8810 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8810_img.selected {
}
#u8810.selected {
}
#u8810_img.disabled {
}
#u8810.disabled {
}
#u8810_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8810_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8811 label {
  left:0px;
  width:100%;
}
#u8811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8811 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:298px;
  width:100px;
  height:15px;
  display:flex;
}
#u8811 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8811_img.selected {
}
#u8811.selected {
}
#u8811_img.disabled {
}
#u8811.disabled {
}
#u8811_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8811_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8813 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:345px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8814 label {
  left:0px;
  width:100%;
}
#u8814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8814 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:346px;
  width:100px;
  height:15px;
  display:flex;
}
#u8814 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8814_img.selected {
}
#u8814.selected {
}
#u8814_img.disabled {
}
#u8814.disabled {
}
#u8814_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8814_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8815 label {
  left:0px;
  width:100%;
}
#u8815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8815 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:346px;
  width:100px;
  height:15px;
  display:flex;
}
#u8815 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8815_img.selected {
}
#u8815.selected {
}
#u8815_img.disabled {
}
#u8815.disabled {
}
#u8815_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8815_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8817 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:396px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8817 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8817_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8818 label {
  left:0px;
  width:100%;
}
#u8818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8818 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:397px;
  width:100px;
  height:15px;
  display:flex;
}
#u8818 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8818_img.selected {
}
#u8818.selected {
}
#u8818_img.disabled {
}
#u8818.disabled {
}
#u8818_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8818_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8819 label {
  left:0px;
  width:100%;
}
#u8819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8819 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:397px;
  width:100px;
  height:15px;
  display:flex;
}
#u8819 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8819_img.selected {
}
#u8819.selected {
}
#u8819_img.disabled {
}
#u8819.disabled {
}
#u8819_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8819_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8821 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:451px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8821 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8821_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8822 label {
  left:0px;
  width:100%;
}
#u8822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8822 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:452px;
  width:100px;
  height:15px;
  display:flex;
}
#u8822 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8822_img.selected {
}
#u8822.selected {
}
#u8822_img.disabled {
}
#u8822.disabled {
}
#u8822_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8822_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8823 label {
  left:0px;
  width:100%;
}
#u8823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8823 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:452px;
  width:100px;
  height:15px;
  display:flex;
}
#u8823 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8823_img.selected {
}
#u8823.selected {
}
#u8823_img.disabled {
}
#u8823.disabled {
}
#u8823_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8823_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8824 label {
  left:0px;
  width:100%;
}
#u8824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8824 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:452px;
  width:100px;
  height:15px;
  display:flex;
}
#u8824 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8824_img.selected {
}
#u8824.selected {
}
#u8824_img.disabled {
}
#u8824.disabled {
}
#u8824_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8824_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8826 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:502px;
  width:84px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8826_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8827 label {
  left:0px;
  width:100%;
}
#u8827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8827 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:503px;
  width:100px;
  height:15px;
  display:flex;
}
#u8827 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8827_img.selected {
}
#u8827.selected {
}
#u8827_img.disabled {
}
#u8827.disabled {
}
#u8827_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8827_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8828 label {
  left:0px;
  width:100%;
}
#u8828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8828 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:503px;
  width:100px;
  height:15px;
  display:flex;
}
#u8828 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8828_img.selected {
}
#u8828.selected {
}
#u8828_img.disabled {
}
#u8828.disabled {
}
#u8828_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8828_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8829 label {
  left:0px;
  width:100%;
}
#u8829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8829 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:503px;
  width:100px;
  height:15px;
  display:flex;
}
#u8829 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8829_img.selected {
}
#u8829.selected {
}
#u8829_img.disabled {
}
#u8829.disabled {
}
#u8829_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8829_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8830 label {
  left:0px;
  width:100%;
}
#u8830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8830 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:503px;
  width:100px;
  height:15px;
  display:flex;
}
#u8830 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8830_img.selected {
}
#u8830.selected {
}
#u8830_img.disabled {
}
#u8830.disabled {
}
#u8830_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8830_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8832 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:555px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8832_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8833 label {
  left:0px;
  width:100%;
}
#u8833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8833 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:556px;
  width:100px;
  height:15px;
  display:flex;
}
#u8833 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8833_img.selected {
}
#u8833.selected {
}
#u8833_img.disabled {
}
#u8833.disabled {
}
#u8833_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8833_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8834 label {
  left:0px;
  width:100%;
}
#u8834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8834 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:556px;
  width:100px;
  height:15px;
  display:flex;
}
#u8834 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8834_img.selected {
}
#u8834.selected {
}
#u8834_img.disabled {
}
#u8834.disabled {
}
#u8834_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8834_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8835 label {
  left:0px;
  width:100%;
}
#u8835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8835 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:556px;
  width:100px;
  height:15px;
  display:flex;
}
#u8835 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8835_img.selected {
}
#u8835.selected {
}
#u8835_img.disabled {
}
#u8835.disabled {
}
#u8835_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8835_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8836 label {
  left:0px;
  width:100%;
}
#u8836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8836 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:556px;
  width:100px;
  height:15px;
  display:flex;
}
#u8836 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8836_img.selected {
}
#u8836.selected {
}
#u8836_img.disabled {
}
#u8836.disabled {
}
#u8836_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8836_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8837 label {
  left:0px;
  width:100%;
}
#u8837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8837 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:556px;
  width:100px;
  height:15px;
  display:flex;
}
#u8837 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8837_img.selected {
}
#u8837.selected {
}
#u8837_img.disabled {
}
#u8837.disabled {
}
#u8837_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8837_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8838 label {
  left:0px;
  width:100%;
}
#u8838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8838 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:556px;
  width:100px;
  height:15px;
  display:flex;
}
#u8838 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8838_img.selected {
}
#u8838.selected {
}
#u8838_img.disabled {
}
#u8838.disabled {
}
#u8838_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8838_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8839 label {
  left:0px;
  width:100%;
}
#u8839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8839 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:556px;
  width:100px;
  height:15px;
  display:flex;
}
#u8839 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8839_img.selected {
}
#u8839.selected {
}
#u8839_img.disabled {
}
#u8839.disabled {
}
#u8839_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8839_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8841 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:615px;
  width:1199px;
  height:69px;
  display:flex;
}
#u8841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u8843 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:634px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u8843 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8844 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:634px;
  width:64px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8844 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8844_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:113px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:999px;
  width:1440px;
  height:113px;
  display:flex;
}
#u8846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u8851 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1067px;
  width:152px;
  height:29px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u8851 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 0px 4px;
  box-sizing:border-box;
  width:100%;
}
#u8851_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u8852 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:1080px;
  width:10px;
  height:12px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u8854 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:1067px;
  width:69px;
  height:29px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u8854 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 4px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8854_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8855 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1019px;
  width:39px;
  height:48px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u8855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u8856 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:1096px;
  width:13px;
  height:16px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u8856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u8857 {
  border-width:0px;
  position:absolute;
  left:1450px;
  top:133px;
  width:24px;
  height:32px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u8857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:705px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8859 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:60px;
  width:541px;
  height:705px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:631px;
}
#u8860 {
  border-width:0px;
  position:absolute;
  left:1551px;
  top:110px;
  width:508px;
  height:631px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u8860 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u8862 {
  border-width:0px;
  position:absolute;
  left:1552px;
  top:76px;
  width:90px;
  height:24px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0066FF;
}
#u8862 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8862_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u8863 {
  border-width:0px;
  position:absolute;
  left:1450px;
  top:1595px;
  width:300px;
  height:170px;
  display:flex;
}
#u8863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u8864 {
  border-width:0px;
  position:absolute;
  left:2097px;
  top:328px;
  width:300px;
  height:170px;
  display:flex;
}
#u8864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u8865 {
  border-width:0px;
  position:absolute;
  left:1450px;
  top:634px;
  width:24px;
  height:32px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u8865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8866 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:650px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u8866_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:38px;
  height:10px;
}
#u8866_seg1 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8866_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8867 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:145px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u8867_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:9px;
}
#u8867_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-1px;
  width:123px;
  height:10px;
}
#u8867_seg2 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-6px;
  width:20px;
  height:20px;
}
#u8867_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-4px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8868 label {
  left:0px;
  width:100%;
}
#u8868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8868 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:190px;
  width:100px;
  height:15px;
  display:flex;
}
#u8868 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8868_img.selected {
}
#u8868.selected {
}
#u8868_img.disabled {
}
#u8868.disabled {
}
#u8868_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8868_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8869 label {
  left:0px;
  width:100%;
}
#u8869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8869 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:243px;
  width:100px;
  height:15px;
  display:flex;
}
#u8869 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8869_img.selected {
}
#u8869.selected {
}
#u8869_img.disabled {
}
#u8869.disabled {
}
#u8869_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8869_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8870 label {
  left:0px;
  width:100%;
}
#u8870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8870 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:164px;
  width:100px;
  height:15px;
  display:flex;
}
#u8870 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8870_img.selected {
}
#u8870.selected {
}
#u8870_img.disabled {
}
#u8870.disabled {
}
#u8870_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8870_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8871 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:221px;
  width:264px;
  height:37px;
  display:flex;
}
#u8871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8872 label {
  left:0px;
  width:100%;
}
#u8872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8872 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:232px;
  width:100px;
  height:15px;
  display:flex;
}
#u8872 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8872_img.selected {
}
#u8872.selected {
}
#u8872_img.disabled {
}
#u8872.disabled {
}
#u8872_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8872_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8873 label {
  left:0px;
  width:100%;
}
#u8873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u8873 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:232px;
  width:100px;
  height:15px;
  display:flex;
}
#u8873 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u8873_img.selected {
}
#u8873.selected {
}
#u8873_img.disabled {
}
#u8873.disabled {
}
#u8873_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u8873_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u8874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8874 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:194px;
  width:6px;
  height:6px;
  display:flex;
}
#u8874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
