body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2498px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:1359px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:163px;
  height:1359px;
  display:flex;
}
#u8584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:89px;
}
#u8586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:89px;
  display:flex;
}
#u8586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8587 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:-10px;
  width:1277px;
  height:99px;
  display:flex;
}
#u8587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u8588 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:17px;
  width:236px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u8588 .text {
  position:absolute;
  align-self:center;
  padding:16px 0px 16px 32px;
  box-sizing:border-box;
  width:100%;
}
#u8588_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u8588.mouseOver {
}
#u8588_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u8590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:134px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u8591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:178px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u8592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:223px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u8593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u8594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:356px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u8595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u8596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u8597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u8597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1223px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8599 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:134px;
  width:1223px;
  height:91px;
  display:flex;
}
#u8599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u8600 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:142px;
  width:582px;
  height:74px;
  display:flex;
  line-height:20px;
}
#u8600 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u8604 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:377px;
  width:75px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u8604 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8605 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:365px;
  width:300px;
  height:38px;
  display:flex;
}
#u8605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u8606 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:378px;
  width:56px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#999999;
}
#u8606 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8606_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:2px;
}
#u8607 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:433px;
  width:1187px;
  height:1px;
  display:flex;
}
#u8607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u8611 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:480px;
  width:75px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u8611 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8612 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:468px;
  width:300px;
  height:38px;
  display:flex;
}
#u8612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8613 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:478px;
  width:70px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u8613 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8613_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u8614 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:481px;
  width:28px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#999999;
}
#u8614 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8614_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:2px;
}
#u8615 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:536px;
  width:1187px;
  height:1px;
  display:flex;
}
#u8615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u8619 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:579px;
  width:75px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u8619 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8620 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:567px;
  width:300px;
  height:38px;
  display:flex;
}
#u8620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8621 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:577px;
  width:126px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u8621 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8621_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u8622 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:580px;
  width:56px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#999999;
}
#u8622 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8622_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:2px;
}
#u8623 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:635px;
  width:1187px;
  height:1px;
  display:flex;
}
#u8623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:right;
}
#u8627 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:685px;
  width:75px;
  height:16px;
  display:flex;
  font-size:14px;
  text-align:right;
}
#u8627 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8628 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:673px;
  width:300px;
  height:38px;
  display:flex;
}
#u8628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8629 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:683px;
  width:126px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u8629 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8629_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u8630 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:686px;
  width:56px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#999999;
}
#u8630 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8630_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:2px;
}
#u8631 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:741px;
  width:1187px;
  height:1px;
  display:flex;
}
#u8631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u8635 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:275px;
  width:75px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u8635 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8636 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:263px;
  width:300px;
  height:38px;
  display:flex;
}
#u8636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8637 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:273px;
  width:1px;
  height:18px;
  display:flex;
  color:#CCCCCC;
}
#u8637 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8637_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u8638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u8638 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:276px;
  width:126px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#999999;
}
#u8638 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8638_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:2px;
}
#u8639 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:331px;
  width:1187px;
  height:1px;
  display:flex;
}
#u8639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u8643 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:787px;
  width:75px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#000000;
  text-align:right;
}
#u8643 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8644 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:775px;
  width:300px;
  height:38px;
  display:flex;
}
#u8644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8645 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:785px;
  width:112px;
  height:16px;
  display:flex;
  color:#CCCCCC;
}
#u8645 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8645_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u8646 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:788px;
  width:42px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#999999;
}
#u8646 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8646_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:2px;
}
#u8647 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:839px;
  width:1187px;
  height:1px;
  display:flex;
}
#u8647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u8648 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:788px;
  width:20px;
  height:17px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8648 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:113px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1448px;
  width:1440px;
  height:113px;
  display:flex;
}
#u8650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u8655 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1516px;
  width:152px;
  height:29px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u8655 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 0px 4px;
  box-sizing:border-box;
  width:100%;
}
#u8655_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u8656 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:1529px;
  width:10px;
  height:12px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u8658 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:1516px;
  width:69px;
  height:29px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u8658 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 4px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8658_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8659 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1468px;
  width:39px;
  height:48px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u8659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u8660 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:1545px;
  width:13px;
  height:16px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u8660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8662 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:945px;
  width:1199px;
  height:69px;
  display:flex;
}
#u8662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u8664 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:964px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u8664 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8664_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8665 {
  border-width:0px;
  position:absolute;
  left:1359px;
  top:964px;
  width:64px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u8665 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u8665_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:705px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8667 {
  border-width:0px;
  position:absolute;
  left:1559px;
  top:50px;
  width:541px;
  height:705px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:631px;
}
#u8668 {
  border-width:0px;
  position:absolute;
  left:1580px;
  top:100px;
  width:508px;
  height:631px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u8668 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u8669 {
  border-width:0px;
  position:absolute;
  left:1581px;
  top:66px;
  width:90px;
  height:24px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0066FF;
}
#u8669 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8669_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u8670 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:164px;
  width:24px;
  height:32px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u8670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8671 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:180px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u8671_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:58px;
  height:10px;
}
#u8671_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8671_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u8672 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:268px;
  width:24px;
  height:32px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u8672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8673 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:282px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u8673_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:7px;
}
#u8673_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:53px;
  height:10px;
}
#u8673_seg2 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-8px;
  width:20px;
  height:20px;
}
#u8673_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u8674 {
  border-width:0px;
  position:absolute;
  left:1476px;
  top:1543px;
  width:300px;
  height:170px;
  display:flex;
}
#u8674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u8675 {
  border-width:0px;
  position:absolute;
  left:2198px;
  top:418px;
  width:300px;
  height:170px;
  display:flex;
}
#u8675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
