body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2463px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:892px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:163px;
  height:892px;
  display:flex;
}
#u5136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:89px;
}
#u5138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:89px;
  display:flex;
}
#u5138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5139 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:1277px;
  height:89px;
  display:flex;
}
#u5139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u5141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u5141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:134px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u5142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u5142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:179px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u5143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u5143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u5144 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:17px;
  width:171px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u5144 .text {
  position:absolute;
  align-self:center;
  padding:16px 0px 16px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5144_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:22px;
}
#u5144.mouseOver {
}
#u5144_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u5146 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:134px;
  width:64px;
  height:40px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u5146 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5146_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u5148 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:134px;
  width:64px;
  height:40px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u5148 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5148_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u5150 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:134px;
  width:240px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u5150 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u5150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u5151 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:134px;
  width:56px;
  height:35px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u5151 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5151_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u5152 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:166px;
  width:240px;
  height:24px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u5152 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u5154 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:134px;
  width:70px;
  height:35px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u5154 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5154_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5157 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:134px;
  width:369px;
  height:32px;
  display:flex;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u5157 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 32px;
  box-sizing:border-box;
  width:100%;
}
#u5157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u5159 {
  border-width:0px;
  position:absolute;
  left:1223px;
  top:142px;
  width:15px;
  height:14px;
  display:flex;
  opacity:0.43;
}
#u5159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u5160 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:144px;
  width:12px;
  height:12px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u5160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5162 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:189px;
  width:1242px;
  height:91px;
  display:flex;
}
#u5162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u5163 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:198px;
  width:602px;
  height:74px;
  display:flex;
  line-height:20px;
}
#u5163 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5164 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:377px;
  width:1242px;
  height:87px;
}
#u5165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
}
#u5165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:29px;
}
#u5166 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:0px;
  width:182px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:29px;
}
#u5167 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:0px;
  width:497px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:29px;
}
#u5168 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:0px;
  width:207px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:29px;
}
#u5169 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:0px;
  width:144px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:29px;
}
#u5170 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:0px;
  width:131px;
  height:29px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u5171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:81px;
  height:28px;
  display:flex;
}
#u5171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:28px;
}
#u5172 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:29px;
  width:182px;
  height:28px;
  display:flex;
}
#u5172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:28px;
}
#u5173 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:29px;
  width:497px;
  height:28px;
  display:flex;
}
#u5173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:28px;
}
#u5174 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:29px;
  width:207px;
  height:28px;
  display:flex;
}
#u5174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
}
#u5175 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:29px;
  width:144px;
  height:28px;
  display:flex;
}
#u5175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:28px;
}
#u5176 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:29px;
  width:131px;
  height:28px;
  display:flex;
  color:#0000FF;
}
#u5176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u5177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:81px;
  height:30px;
  display:flex;
}
#u5177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u5178 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:57px;
  width:182px;
  height:30px;
  display:flex;
}
#u5178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:30px;
}
#u5179 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:57px;
  width:497px;
  height:30px;
  display:flex;
}
#u5179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
}
#u5180 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:57px;
  width:207px;
  height:30px;
  display:flex;
}
#u5180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u5181 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:57px;
  width:144px;
  height:30px;
  display:flex;
}
#u5181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u5182 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:57px;
  width:131px;
  height:30px;
  display:flex;
  color:#0000FF;
}
#u5182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:52px;
}
#u5185 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:510px;
  width:368px;
  height:52px;
  display:flex;
}
#u5185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:2px;
}
#u5186 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:499px;
  width:1215px;
  height:1px;
  display:flex;
}
#u5186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5187 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:533px;
  width:80px;
  height:16px;
  display:flex;
}
#u5187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5189 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:528px;
  width:56px;
  height:16px;
  display:flex;
}
#u5189 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5189_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5190_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5190 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:522px;
  width:67px;
  height:29px;
  display:flex;
}
#u5190 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5190_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5190.disabled {
}
.u5190_input_option {
}
#u5191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5191 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:528px;
  width:42px;
  height:16px;
  display:flex;
}
#u5191 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5191_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:616px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5193 {
  border-width:0px;
  position:absolute;
  left:1559px;
  top:50px;
  width:541px;
  height:616px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:551px;
}
#u5194 {
  border-width:0px;
  position:absolute;
  left:1580px;
  top:100px;
  width:508px;
  height:551px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-style:normal;
  line-height:20px;
}
#u5194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u5196 {
  border-width:0px;
  position:absolute;
  left:1581px;
  top:66px;
  width:90px;
  height:24px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0066FF;
}
#u5196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u5197 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:138px;
  width:24px;
  height:32px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u5197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5198 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:154px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u5198_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:62px;
  height:10px;
}
#u5198_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5198_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u5199 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:219px;
  width:24px;
  height:32px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u5199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5200 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:235px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u5200_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:58px;
  height:10px;
}
#u5200_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5200_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u5201 {
  border-width:0px;
  position:absolute;
  left:1471px;
  top:377px;
  width:24px;
  height:32px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u5201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5202 {
  border-width:0px;
  position:absolute;
  left:1447px;
  top:393px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u5202_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:29px;
  height:10px;
}
#u5202_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5202_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u5203 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:519px;
  width:24px;
  height:32px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u5203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5204 {
  border-width:0px;
  position:absolute;
  left:1430px;
  top:536px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u5204_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:55px;
  height:10px;
}
#u5204_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-6px;
  width:10px;
  height:11px;
}
#u5204_seg2 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-6px;
  width:18px;
  height:10px;
}
#u5204_seg3 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-11px;
  width:20px;
  height:20px;
}
#u5204_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u5206 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:315px;
  width:96px;
  height:40px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u5206 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5206_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:113px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1032px;
  width:1440px;
  height:113px;
  display:flex;
}
#u5208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u5213 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1100px;
  width:152px;
  height:29px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u5213 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 0px 4px;
  box-sizing:border-box;
  width:100%;
}
#u5213_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u5214 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:1113px;
  width:10px;
  height:12px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u5216 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:1100px;
  width:69px;
  height:29px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u5216 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 4px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5216_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5217 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:1052px;
  width:39px;
  height:48px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u5217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u5218 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:1129px;
  width:13px;
  height:16px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u5218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u5219 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:1301px;
  width:300px;
  height:170px;
  display:flex;
}
#u5219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u5220 {
  border-width:0px;
  position:absolute;
  left:2163px;
  top:294px;
  width:300px;
  height:170px;
  display:flex;
}
#u5220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u5222 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:134px;
  width:201px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u5222 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u5222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u5223 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:144px;
  width:14px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5223 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u5224 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:134px;
  width:42px;
  height:35px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  text-align:right;
  line-height:22px;
}
#u5224 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 8px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5224_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u5225 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:166px;
  width:158px;
  height:24px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u5225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u5226 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:319px;
  width:24px;
  height:32px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u5226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5227 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:335px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u5227_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:1204px;
  height:10px;
}
#u5227_seg1 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5227_text {
  border-width:0px;
  position:absolute;
  left:550px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5228 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:420px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u5228_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:11px;
  height:10px;
}
#u5228_seg1 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-90px;
  width:10px;
  height:95px;
}
#u5228_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-90px;
  width:75px;
  height:10px;
}
#u5228_seg3 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-95px;
  width:20px;
  height:20px;
}
#u5228_text {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-83px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
