body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
}
#u7198 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:718px;
  width:1199px;
  height:1px;
  display:flex;
}
#u7198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:44px;
}
#u7200 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:739px;
  width:1199px;
  height:44px;
  display:flex;
  text-align:left;
}
#u7200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u7200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7201 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:749px;
  width:10px;
  height:26px;
  display:flex;
}
#u7201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7204 {
  border-width:0px;
  position:absolute;
  left:1230px;
  top:418px;
  width:115px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7204 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7204_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u7205 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:441px;
  width:181px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u7205 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7205_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7206 label {
  left:0px;
  width:100%;
}
#u7206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7206 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:467px;
  width:31px;
  height:16px;
  display:flex;
}
#u7206 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u7206_img.selected {
}
#u7206.selected {
}
#u7206_img.disabled {
}
#u7206.disabled {
}
#u7206_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:15px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7206_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:100px;
}
#u7207 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:300px;
  width:210px;
  height:100px;
  display:flex;
}
#u7207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7209 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:421px;
  width:114px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7209 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7209_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u7210 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:445px;
  width:176px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u7210 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7210_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7211 label {
  left:0px;
  width:100%;
}
#u7211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7211 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:471px;
  width:31px;
  height:16px;
  display:flex;
}
#u7211 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u7211_img.selected {
}
#u7211.selected {
}
#u7211_img.disabled {
}
#u7211.disabled {
}
#u7211_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:15px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7211_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:100px;
}
#u7212 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:300px;
  width:210px;
  height:100px;
  display:flex;
}
#u7212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7214 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:417px;
  width:113px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7214 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7214_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u7215 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:441px;
  width:168px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u7215 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7215_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7216 label {
  left:0px;
  width:100%;
}
#u7216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7216 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:467px;
  width:31px;
  height:16px;
  display:flex;
}
#u7216 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u7216_img.selected {
}
#u7216.selected {
}
#u7216_img.disabled {
}
#u7216.disabled {
}
#u7216_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:15px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7216_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:100px;
}
#u7217 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:300px;
  width:105px;
  height:100px;
  display:flex;
}
#u7217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:100px;
}
#u7218 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:300px;
  width:105px;
  height:100px;
  display:flex;
}
#u7218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7220 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:418px;
  width:113px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7220 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7220_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u7221 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:441px;
  width:168px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u7221 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7221_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7222 label {
  left:0px;
  width:100%;
}
#u7222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7222 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:467px;
  width:31px;
  height:16px;
  display:flex;
}
#u7222 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u7222_img.selected {
}
#u7222.selected {
}
#u7222_img.disabled {
}
#u7222.disabled {
}
#u7222_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:15px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7222_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:100px;
}
#u7223 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:300px;
  width:70px;
  height:100px;
  display:flex;
}
#u7223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:100px;
}
#u7224 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:300px;
  width:70px;
  height:100px;
  display:flex;
}
#u7224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:100px;
}
#u7225 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:300px;
  width:70px;
  height:100px;
  display:flex;
}
#u7225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7227 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:664px;
  width:62px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7227 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7227_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u7228 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:687px;
  width:181px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u7228 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7228_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7229 label {
  left:0px;
  width:100%;
}
#u7229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7229 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:713px;
  width:31px;
  height:16px;
  display:flex;
}
#u7229 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u7229_img.selected {
}
#u7229.selected {
}
#u7229_img.disabled {
}
#u7229.disabled {
}
#u7229_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:15px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7229_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:144px;
}
#u7231 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:510px;
  width:210px;
  height:144px;
  display:flex;
}
#u7231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#868686;
  text-align:center;
}
#u7232 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:632px;
  width:66px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#868686;
  text-align:center;
}
#u7232 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7233 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:633px;
  width:105px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u7233 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u7235 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:549px;
  width:210px;
  height:50px;
  display:flex;
}
#u7235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7236 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:642px;
  width:112px;
  height:17px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7236 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7236_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u7237 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:665px;
  width:181px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:center;
}
#u7237 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7237_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7238 label {
  left:0px;
  width:100%;
}
#u7238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7238 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:691px;
  width:31px;
  height:16px;
  display:flex;
}
#u7238 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u7238_img.selected {
}
#u7238.selected {
}
#u7238_img.disabled {
}
#u7238.disabled {
}
#u7238_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:15px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7238_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u7239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:44px;
}
#u7240 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:235px;
  width:1199px;
  height:44px;
  display:flex;
  text-align:left;
}
#u7240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u7240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7241 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:244px;
  width:10px;
  height:26px;
  display:flex;
}
#u7241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7243 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:821px;
  width:161px;
  height:19px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7243 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:641px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7245 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:810px;
  width:641px;
  height:41px;
  display:flex;
}
#u7245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2px;
}
#u7246 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:892px;
  width:1199px;
  height:1px;
  display:flex;
}
#u7246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u7247 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:141px;
  width:24px;
  height:32px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u7247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u7248 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:241px;
  width:24px;
  height:32px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u7248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u7249 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:745px;
  width:24px;
  height:32px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u7249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7250 {
  border-width:0px;
  position:absolute;
  left:1450px;
  top:761px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u7250_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:48px;
  height:10px;
}
#u7250_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7250_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7251 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:157px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u7251_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:58px;
  height:10px;
}
#u7251_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7251_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7252 {
  border-width:0px;
  position:absolute;
  left:1450px;
  top:257px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u7252_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:48px;
  height:10px;
}
#u7252_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7252_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:1257px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:163px;
  height:1257px;
  display:flex;
}
#u7254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:89px;
}
#u7256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:89px;
  display:flex;
}
#u7256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7257 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:-10px;
  width:1277px;
  height:99px;
  display:flex;
}
#u7257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u7258 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:17px;
  width:278px;
  height:54px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u7258 .text {
  position:absolute;
  align-self:center;
  padding:16px 0px 16px 32px;
  box-sizing:border-box;
  width:100%;
}
#u7258_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u7258.mouseOver {
}
#u7258_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u7260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u7260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u7261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:134px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u7261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u7261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u7262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:179px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u7262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u7262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u7263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:224px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u7263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u7263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u7264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:269px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u7264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u7264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u7265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:314px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u7265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u7265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u7266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:359px;
  width:163px;
  height:45px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u7266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u7266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u7267 {
  border-width:0px;
  position:absolute;
  left:1398px;
  top:1464px;
  width:300px;
  height:170px;
  display:flex;
}
#u7267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u7268 {
  border-width:0px;
  position:absolute;
  left:2130px;
  top:566px;
  width:300px;
  height:170px;
  display:flex;
}
#u7268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:99px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7270 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:115px;
  width:1199px;
  height:99px;
  display:flex;
  color:#666666;
}
#u7270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u7271 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:130px;
  width:595px;
  height:78px;
  display:flex;
  line-height:28px;
}
#u7271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:113px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1348px;
  width:1440px;
  height:113px;
  display:flex;
}
#u7273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u7278 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:1416px;
  width:152px;
  height:29px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u7278 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 0px 0px 4px;
  box-sizing:border-box;
  width:100%;
}
#u7278_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u7279 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:1429px;
  width:10px;
  height:12px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u7281 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:1416px;
  width:69px;
  height:29px;
  display:flex;
  font-family:'Microsoft YaHei ', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u7281 .text {
  position:absolute;
  align-self:flex-start;
  padding:8px 4px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7281_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7282 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:1368px;
  width:39px;
  height:48px;
  display:flex;
  opacity:0;
  color:#FFFFFF;
}
#u7282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u7283 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:1445px;
  width:13px;
  height:16px;
  display:flex;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u7283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7285 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:917px;
  width:1199px;
  height:69px;
  display:flex;
}
#u7285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7287 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:936px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7287 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u7287_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7288 {
  border-width:0px;
  position:absolute;
  left:1359px;
  top:936px;
  width:64px;
  height:32px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u7288 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u7288_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:32px;
}
#u7289 {
  border-width:0px;
  position:absolute;
  left:1493px;
  top:936px;
  width:24px;
  height:32px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u7289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 11.6px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7290 {
  border-width:0px;
  position:absolute;
  left:1450px;
  top:952px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u7290_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:48px;
  height:10px;
}
#u7290_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7290_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:658px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7292 {
  border-width:0px;
  position:absolute;
  left:1567px;
  top:115px;
  width:533px;
  height:658px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u7292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:508px;
  height:587px;
}
#u7293 {
  border-width:0px;
  position:absolute;
  left:1580px;
  top:165px;
  width:508px;
  height:587px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u7293 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u7294 {
  border-width:0px;
  position:absolute;
  left:1581px;
  top:131px;
  width:90px;
  height:24px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0066FF;
}
#u7294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7294_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7295 {
  border-width:0px;
  position:absolute;
  left:1024px;
  top:831px;
  width:416px;
  height:15px;
  display:flex;
  color:#666666;
}
#u7295 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
